#map {
  position: relative;
  background: black;
  height: 500px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: rgba(0, 0, 0, 0);
  z-index:0;
  pointer-events: none;
}

#current-year {
  position: absolute;
  top: 10px;
  right: 40px;
  font-size: 95px;
  color: #f5a293;
  z-index: 10001;
  font-weight: 800;
}

@media(max-width: 600px) {
  #current-year {
    right: 20px;
    font-size: 25px;
  }
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
  display: none;
}