<div class='factor-buttons'>
  <div class='factor-button active' data-id='occupations'>
    <img src='{{ site.baseurl }}/assets/posts/spenserian-networks/icons/subject.svg'>
    <div class='label'>Occupation</div>
  </div>
  <div class='factor-button' data-id='writing'>
    <img src='{{ site.baseurl }}/assets/posts/spenserian-networks/icons/size.svg'>
    <div class='label'>Writing</div>
  </div>
  <div class='factor-button' data-id='education'>
    <img src='{{ site.baseurl }}/assets/posts/spenserian-networks/icons/volumes.svg'>
    <div class='label'>Education</div>
  </div>
  <div class='factor-button' data-id='religion'>
    <img src='{{ site.baseurl }}/assets/posts/spenserian-networks/icons/death.svg'>
    <div class='label'>Religion</div>
  </div>
  <div class='factor-button' data-id='nationalities'>
    <img src='{{ site.baseurl }}/assets/posts/spenserian-networks/icons/location.svg'>
    <div class='label'>Nation</div>
  </div>
  <div class='factor-button' data-id='gender'>
    <img src='{{ site.baseurl }}/assets/posts/spenserian-networks/icons/author.svg'>
    <div class='label'>Gender</div>
  </div>
</div>