/**
* Loader
**/

.loader {
  width: 80px;
  height: 20px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
}

.loader .dot {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  display: inline-block;
  background: rgb(213, 58, 38);
  opacity: 0;
  transition: opacity 1s;
  margin: 0 3px;
  float: left;
}

@-webkit-keyframes fade-dots-0 {
  0%   { opacity: 0; }
  25%   { opacity: 1; }
  50%   { opacity: 0; }
  100% { opacity: 0; }
}
@-moz-keyframes fade-dots-0 {
  0%   { opacity: 0; }
  25%   { opacity: 1; }
  50%   { opacity: 0; }
  100% { opacity: 0; }
}
@-o-keyframes fade-dots-0 {
  0%   { opacity: 0; }
  25%   { opacity: 1; }
  50%   { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes fade-dots-0 {
  0%   { opacity: 0; }
  25%   { opacity: 1; }
  50%   { opacity: 0; }
  100% { opacity: 0; }
}

@-webkit-keyframes fade-dots-1 {
  0%   { opacity: 0; }
  25%   { opacity: 0; }
  50%   { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes fade-dots-1 {
  0%   { opacity: 0; }
  25%   { opacity: 0; }
  50%   { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes fade-dots-1 {
  0%   { opacity: 0; }
  25%   { opacity: 0; }
  50%   { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fade-dots-1 {
  0%   { opacity: 0; }
  25%   { opacity: 0; }
  50%   { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes fade-dots-2 {
  0%   { opacity: 0; }
  25%   { opacity: 0; }
  50%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fade-dots-2 {
  0%   { opacity: 0; }
  25%   { opacity: 0; }
  50%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fade-dots-2 {
  0%   { opacity: 0; }
  25%   { opacity: 0; }
  50%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade-dots-2 {
  0%   { opacity: 0; }
  25%   { opacity: 0; }
  50%   { opacity: 0; }
  100% { opacity: 1; }
}

.loader .dot-0 {
  -webkit-animation: fade-dots-0 1s 0s linear infinite; /* Safari 4+ */
  -moz-animation:    fade-dots-0 1s 0s linear infinite; /* Fx 5+ */
  -o-animation:      fade-dots-0 1s 0s linear infinite; /* Opera 12+ */
  animation:         fade-dots-0 1s 0s linear infinite; /* IE 10+, Fx 29+ */
}

.loader .dot-1 {
  -webkit-animation: fade-dots-1 1s 0s linear infinite; /* Safari 4+ */
  -moz-animation:    fade-dots-1 1s 0s linear infinite; /* Fx 5+ */
  -o-animation:      fade-dots-1 1s 0s linear infinite; /* Opera 12+ */
  animation:         fade-dots-1 1s 0s linear infinite; /* IE 10+, Fx 29+ */
}

.loader .dot-2 {
  -webkit-animation: fade-dots-2 1s 0s linear infinite; /* Safari 4+ */
  -moz-animation:    fade-dots-2 1s 0s linear infinite; /* Fx 5+ */
  -o-animation:      fade-dots-2 1s 0s linear infinite; /* Opera 12+ */
  animation:         fade-dots-2 1s 0s linear infinite; /* IE 10+, Fx 29+ */
}
