<meta charset='utf-8'>
<meta http-equiv='x-ua-compatible' content='ie=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='google-site-verification' content='eYLUlW-Cr452cLvMYOYoqYtyqArzYvYYryVJV1jsV5o'>
<meta name='twitter:card' content='summary_large_image'>
<meta name='twitter:site' content='@{{ site.twitter }}'>
<meta name='twitter:creator' content='@{{ site.twitter }}'>
<meta property='og:url' content='{{ site.url }}{{ page.url }}'>
{% if page.title %}
  <meta name='og:title' content="{{ page.title }}">
{% else %}
  <meta name='og:title' content="{{ site.title }}">
{% endif %}
{% if page.description %}
  <meta name='description' content="{{ page.description }}">
  <meta name='og:description' content="{{ page.description }}">
{% else %}
  <meta name='description' content='{{ site.description }}'>
  <meta name='og:description' content='{{ site.description }}'>
{% endif %}
{% if page.banner %}
  <meta property='og:image' content='{{ page.banner | prepend: site.url }}'>
{% else %}
  <meta property='og:image' content='{{ site.fallback_image | prepend: site.url }}'>
{% endif %}
{% if site.bust_cache %}
  <meta http-equiv='cache-control' content='no-cache, no-store, must-revalidate'>
  <meta http-equiv='pragma' content='no-cache'>
  <meta http-equiv='expires' content='0'>
{% endif %}