<a target='_blank' href='{{ site.baseurl }}/feed.xml'>
  <div class='footer-icon square-image'>
    {%- if include.style == 'dark' %}
      <img src='{{ site.baseurl }}/assets/images/icons/rss-dark.svg'
        onerror="this.src='{{ site.baseurl }}/assets/images/icons/rss-dark.png'"
        alt='RSS Icon'>
    {%- else %}
      <img src='{{ site.baseurl }}/assets/images/icons/rss-light.svg'
        onerror="this.src='{{ site.baseurl }}/assets/images/icons/rss-light.png'"
        alt='RSS Icon'>
    {%- endif %}
  </div>
</a>