<a target='_blank' href='http://twitter.com/{{ site.twitter }}'>
  {%- if include.style == 'dark' %}
    <img class='footer-icon'
      src='{{ site.baseurl }}/assets/images/icons/twitter-dark.svg'
      onerror="this.src='{{ site.baseurl }}/assets/images/icons/twitter-dark.png'"
      alt='Twitter Icon'>
  {%- else %}
    <img class='footer-icon'
      src='{{ site.baseurl }}/assets/images/icons/twitter-light.svg'
      onerror="this.src='{{ site.baseurl }}/assets/images/icons/twitter-light.png'"
      alt='Twitter Icon'>
  {%- endif %}
</a>