---
process: true
---

html {
  height: 100%;
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: #222;
  line-height: 1.5em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

body * {
  margin: 0;
  padding: 0;
}

/**
* Main container
**/

.container {
  width: 100%;
  max-width: 750px;
  display: inline-block;
  text-align: left;
  padding: 40px;
  box-sizing: border-box;
}

/**
* Text elements
**/

a {
  text-decoration: none;
  color: rgb({{ site.dark }});
  font-weight: 500;
}

p {
  margin: 15px 0;
  line-height: 1.75em;
}

h1 {
  color: rgb({{ site.dark }});
}

h2 {
  font-size: 1.35em;
}

h1, h2, h3, h4 {
  margin: 20px 0 10px;
  text-align: center;
}

.center-text {
  text-align: center;
}

/**
* Header
**/

.header {
  height: 200px;
  width: 100%;
  box-shadow: 2px 1px 5px #888888;
  overflow: hidden;
  background-color: rgb({{ site.light }});
}

@media(min-width: 1400px) {
  .header {
    height: 250px;
  }
}

@media(max-width: 500px) {
  .header {
    height: 120px;
  }
}

.header .background-image {
  width: 100%;
  height: 100%;
}

/**
* Footer
**/

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.home, .post {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
}

.footer {
  height: 50px;
  display: table;
  width: 100%;
  color: #fff;
  overflow: hidden;
  background: #4c4c4c;
  text-align: center;
}

.footer .footer-icon {
  height: 15px;
  position: relative;
  top: 12px;
  margin: 0 1px;
  background: #ededed;
  padding: 6px;
  border-radius: 100%;
}

.footer .square-image {
  display: inline-block;
  vertical-align: top;
}

.footer .square-image img {
  border-radius: 0;
  padding: 2px;
  width: 11px;
  vertical-align: top;
  position: relative;
  background: none;
}

.footer .footer-icon:hover {
  opacity: 0.8;
}

/**
* Home icon
**/

.home-icon {
  height: 34px;
  width: 34px;
  background: rgb({{ site.dark }});
  fill: #fff;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 1px 1px 5px #525151;
  z-index: 10;
}

.home-icon a {
  display: block;
  width: 50px;
  height: 50px;
  margin-left: -8px;
  margin-top: -8px;
}

.home-icon img {
  height: 22px;
  margin: 13px;
}

/**
* Home
**/

.home {
  height: 100%;
}

.home .container {
  display: block;
  margin: 40px auto;
  width: 80%;
  max-width: 980px;
  padding: 0;
}

@media(max-width: 600px) {
  .home .container {
    width: 85%;
  }
}

.home h1 {
  font-size: 38px;
  line-height: 1.4em;
  color: #454545;
  margin: 0;
  margin-left: -2px;
  text-align: left;
  font-weight: 100;
}

.home .bio {
  color: #878787;
  margin-bottom: 5px;
  line-height: 1.2em;
}

.home .home-links a {
  text-decoration: none;
  color: #6b6b6b;
  font-weight: 500;
  margin-right: 10px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.home h2 {
  text-align: left;
  font-weight: 100;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: rgb({{ site.dark }});
}

/**
* Home posts
**/

.post-links,
.project-links {
  text-align: left;
  display: inline-block;
  font-size: 0.9em;
  width: 700px;
  padding-top: 25px;
}

@media(max-width: 875px) {
  .post-links,
  .project-links {
    width: 100%;
  }
}

.post-link {
  width: 100%;
  margin-bottom: 30px;
  display: inline-block;
  vertical-align: top;
}

.post-link:hover .post-thumbnail {
  filter: grayscale(0%);
}

.post-link:hover .title {
  color: rgb({{ site.dark }});
}

.post-thumbnail {
  width: 100%;
  padding-bottom: 16.5%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: filter 1s;
  border: 2px solid #777;
}

.post-links .title {
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  color: #666;
  margin: 10px 0 4px;
  transition: color 1s;
}

.post-links .date {
  display: block;
  color: #999;
  font-size: 13px;
  line-height: 14px;
}

.post-links a {
  text-decoration: none;
  display: block;
  font-size: 1.2em;
  color: #555;
  font-weight: 400;
}

/**
* Home page projects
**/

.project-card {
  color: #444;
  margin-bottom: 30px;
  text-align: left;
}

.project-card .project-image {
  width: 100%;
  height: 0;
  padding-bottom: 39%;
  background-position: top center;
}

.project-card .project-content {
  padding: 10px 0;
}

.project-card .project-title {
  font-weight: 500;
  font-size: 24px;
  margin: 7px 0 2px;
}

.project-tech div {
  display: inline-block;
  margin-right: 8px;
  color: #aaa;
  font-size: 14px;
}

.project-card .project-text p {
  line-height: 1.4em;
  font-weight: 100;
  margin: 0;
}

.project-card .project-categories {
  float: right;
  margin-right: -10px;
}

.project-card .project-links a {
  display: inline-block;
  color: #fff;
  background: rgb({{ site.dark }});
  padding: 3px 10px;
  margin: 10px 6px 3px 0;
  border-radius: 3px;
  font-weight: 100;
}

/**
* Post
**/

.post {
  height: 100%;
  width: 100%;
}

.post .container {
  display: block;
  margin: 0 auto;
}

/* mobile */
@media (max-width: 520px) {
  .post .container {
    padding: 10px 20px;
  }
}

.post .title {
  font-size: 1.8em;
  font-weight: 500;
  margin: 20px 0 10px;
  text-align: center;
  color: rgb({{ site.dark }});
  line-height: 1.2em;
}

.post .date {
  color: #777;
  font-size: 0.9em;
  text-align: center;
}

/***
* Syntax Highlighting
***/

pre {
  margin: 0;
}

code {
  height: 100%;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

p code {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0 4px;
  margin: 0;
  line-height: inherit;
  background: #272822;
  border-radius: 3px;
  color: #eee;
}

figure.highlight {
  margin: 0;
  padding: 20px;
  border-radius: 4px;
}

/**
* Monokai syntax highlighting
**/

.highlight .hll { background-color: #49483e }
.highlight  { background: #272822; color: #f8f8f2 }
.highlight .c { color: #75715e } /* Comment */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .ch { color: #75715e } /* Comment.Hashbang */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .cpf { color: #75715e } /* Comment.PreprocFile */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .gd { color: #f92672 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gi { color: #a6e22e } /* Generic.Inserted */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #75715e } /* Generic.Subheading */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mb { color: #ae81ff } /* Literal.Number.Bin */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sa { color: #e6db74 } /* Literal.String.Affix */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .dl { color: #e6db74 } /* Literal.String.Delimiter */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #a6e22e } /* Name.Function.Magic */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .vm { color: #f8f8f2 } /* Name.Variable.Magic */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */

/**
* Tables
**/

table {
  margin: 0 auto;
  background: #eeeeef;
}

td, th {
  padding: 7px 17px;
}

table thead {
  background: #f5f5f5;
}

table tr {
  background: #f5f5f5;
}

table tr:nth-child(2n) {
  background: #e4e4e4;
}

/**
* Select
**/

select {
  padding: 6px 28px 6px 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  background: transparent;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border-radius: 4px;
  background-image: url(/assets/images/icons/caret.png);
  border: 1px solid #ccc;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: 95% 8px;
}

/**
* Inputs
**/

input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=search],
input[type=number],
input[type=date],
input[type=month],
input[type=week],
input[type=datetime],
input[type=datetime-local] {
  line-height: normal;
  height: 20px;
  padding: 6px;
  border-radius: 4px;
  border: none;
  background: #efefef;
  margin: 5px 0;
}

textarea {
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/***
* Buttons
***/

button,
input[type=submit],
input[type=button],
input[type=reset] {
  cursor: pointer;
  padding: 7px 20px;
  background: rgb({{ site.dark }});
  color: #fff;
  border: none;
  border-radius: 4px;
  display: table;
  margin: 0 auto;
}

form button {
  margin-top: 10px;
}

button:disabled,
input:disabled {
  opacity: 0.6;
}

/**
* Lists
**/

ul {
  list-style-type: none;
}

/**
* Wells
**/

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  display: table;
  margin: 0 auto;
}

/**
* Form catchall
**/

form {
  display: table;
  margin: 25px auto;
  border-radius: 4px;
}

fieldset {
  padding: 18px 20px;
  border-radius: 4px;
}

label {
  margin: 5px;
}

/**
* Image filters
**/

.grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

/**
* Images
**/

.container img {
  max-width: 100%;
}

.background-image {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.center-image {
  margin: 25px auto;
  display: block;
}

.center-image.large {
  width: auto;
}

.center-image.medium {
  width: 60%;
}

.center-image.small {
  width: 200px;
}

.inline-trio {
  display: table;
  width: 100%;
  border-spacing: 5px;
}

.inline-trio .default-image {
  width: 33%;
  display: table-cell;
  padding: 0 4px;
  box-sizing: border-box;
}

/**
* Click to interact
**/

.click-to-interact {
  position: relative;
  display: block;
}

.click-to-interact::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 10;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
}

.click-to-interact::after {
  content: 'Click to enter →';
  display: block;
  color: #fff;
  position: absolute;
  top: 47%;
  text-align: center;
  width: 100%;
  z-index: 11;
  font-size: 24px;
  opacity: 0;
}

.click-to-interact:hover::before,
.click-to-interact:hover::after {
  opacity: 1;
}

.click-to-interact img {
  display: block;
}

/**
* Image grid
**/

.image-grid {
  width: 100%;
  margin: 20px 0;
}

.image-grid .row {
  display: table;
  width: 100%;
}

.image-grid .grid-item {
  width: 33%;
  padding-bottom: 33%;
  display: table-cell;
  overflow: auto;
  position: relative;
  z-index: -1;
}

.image-grid .grid-item .cell {
  margin: 4px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/**
* Duotone filters
**/

.duotone {
  -webkit-filter: url(#header-duotone);
  filter:  url(#header-duotone);
}

.duotone-invert {
  -webkit-filter: invert(100%) url(#header-duotone);
  filter: invert(100%) url(#header-duotone);
}

.fixed-background {
  background-attachment: fixed;
}

/**
* Lightbox
**/

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.lightbox:target {
  outline: none;
  display: block;
  width: 100%;
  height: 100%;
}

/**
* Comments
**/

div#disqus_thread {
  margin-top: 40px;
}

/**
* Loader
**/

.loader {
  width: 80px;
  height: 20px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
}

.loader .dot {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  display: inline-block;
  background: rgb({{ site.dark }});
  opacity: 0;
  transition: opacity 1s;
  margin: 0 3px;
  float: left;
}

@-webkit-keyframes fade-dots-0 {
  0%   { opacity: 0; }
  25%   { opacity: 1; }
  50%   { opacity: 0; }
  100% { opacity: 0; }
}
@-moz-keyframes fade-dots-0 {
  0%   { opacity: 0; }
  25%   { opacity: 1; }
  50%   { opacity: 0; }
  100% { opacity: 0; }
}
@-o-keyframes fade-dots-0 {
  0%   { opacity: 0; }
  25%   { opacity: 1; }
  50%   { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes fade-dots-0 {
  0%   { opacity: 0; }
  25%   { opacity: 1; }
  50%   { opacity: 0; }
  100% { opacity: 0; }
}

@-webkit-keyframes fade-dots-1 {
  0%   { opacity: 0; }
  25%   { opacity: 0; }
  50%   { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes fade-dots-1 {
  0%   { opacity: 0; }
  25%   { opacity: 0; }
  50%   { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes fade-dots-1 {
  0%   { opacity: 0; }
  25%   { opacity: 0; }
  50%   { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fade-dots-1 {
  0%   { opacity: 0; }
  25%   { opacity: 0; }
  50%   { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes fade-dots-2 {
  0%   { opacity: 0; }
  25%   { opacity: 0; }
  50%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fade-dots-2 {
  0%   { opacity: 0; }
  25%   { opacity: 0; }
  50%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fade-dots-2 {
  0%   { opacity: 0; }
  25%   { opacity: 0; }
  50%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade-dots-2 {
  0%   { opacity: 0; }
  25%   { opacity: 0; }
  50%   { opacity: 0; }
  100% { opacity: 1; }
}

.loader .dot-0 {
  -webkit-animation: fade-dots-0 1s 0s linear infinite; /* Safari 4+ */
  -moz-animation:    fade-dots-0 1s 0s linear infinite; /* Fx 5+ */
  -o-animation:      fade-dots-0 1s 0s linear infinite; /* Opera 12+ */
  animation:         fade-dots-0 1s 0s linear infinite; /* IE 10+, Fx 29+ */
}

.loader .dot-1 {
  -webkit-animation: fade-dots-1 1s 0s linear infinite; /* Safari 4+ */
  -moz-animation:    fade-dots-1 1s 0s linear infinite; /* Fx 5+ */
  -o-animation:      fade-dots-1 1s 0s linear infinite; /* Opera 12+ */
  animation:         fade-dots-1 1s 0s linear infinite; /* IE 10+, Fx 29+ */
}

.loader .dot-2 {
  -webkit-animation: fade-dots-2 1s 0s linear infinite; /* Safari 4+ */
  -moz-animation:    fade-dots-2 1s 0s linear infinite; /* Fx 5+ */
  -o-animation:      fade-dots-2 1s 0s linear infinite; /* Opera 12+ */
  animation:         fade-dots-2 1s 0s linear infinite; /* IE 10+, Fx 29+ */
}

/**
* 404
**/

.lost {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.lost .message {
  font-family: 'Press Start 2P',cursive;
  font-size: 90px;
  margin-top: 90px;
  margin-top: 22vh;
  margin-bottom: 40px;
  line-height: 90px;
  color: #6991ab;
}

.lost .return-home {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  background: rgb({{ site.dark }});
}

@media(max-height: 500px) {
  .lost .return-home {
    display: none;
  }
}

.lost .sky {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 35%;
  left: 0;
  background: #caf0ff;
}

.lost .cave {
  position: absolute;
  bottom: 35%;
  right: -120px;
  width: 500px;
}

.lost .cave-door {
  position: absolute;
  bottom: 35%;
  right: 0;
  width: 112px;
  overflow: hidden;
  z-index: 100;
  height: 400px;
}

.lost .cave-right {
  bottom: 0;
}

.lost .cloud {
  width: 250px;
  position: absolute;
  right: 100px;
}

.lost .grass {
  width: 100%;
  height: 35%;
  position: absolute;
  bottom: 0;
  background-color: #3eb96e;
}

.lost .big-grass-patch,
.lost .small-grass-patch {
  position: absolute;
  width: 10px;
  height: 10px;
}

.lost .big-grass-patch:after {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  background: transparent;
  box-shadow:
    4px 10px #1c5437,
    8px 6px #1c5437,
    12px 10px #1c5437,
    16px 6px #1c5437,
    20px 10px #1c5437;
}

.lost .small-grass-patch:after {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  background: transparent;
  box-shadow:
    4px 10px #1c5437,
    8px 6px #1c5437,
    12px 10px #1c5437;
}

/**
* Caveman by @Richard on Codepen
* @source: http://codepen.io/Ketziel/pen/ukCpt;
**/

.lost .caveman {
  width:180px; height:180px;
  position: absolute;
  bottom: 35%;
  transition: left 0.2s;
  transform: rotateX(0deg);
}

.lost .caveman div {
  width:12px; height:12px;
  background: transparent;
  box-shadow:
    48px 72px #222222, 60px 72px #222222, 72px 72px #222222,
    84px 72px #222222, 96px 72px #222222, 36px 84px #171717,
    48px 84px #E3BE89, 60px 84px #FBD298, 72px 84px #FBD298,
    84px 84px #FBD298, 96px 84px #FBD298, 120px 84px #747269,
    36px 96px #E3BE89, 48px 96px #E3BE89, 60px 96px #0E0C09,
    72px 96px #FBD298, 84px 96px #FBD298, 96px 96px #0E0C09,
    120px 96px #747269, 36px 108px #171717, 48px 108px #E3BE89,
    60px 108px #FBD298, 72px 108px #FBD298, 84px 108px #FBD298,
    96px 108px #FBD298, 120px 108px #747269, 36px 120px #171717,
    48px 120px #171717, 60px 120px #222222, 72px 120px #222222,
    84px 120px #222222, 96px 120px #222222, 120px 120px #747269,
    24px 132px #A78408, 36px 132px #A78408, 48px 132px #171717,
    60px 132px #171717, 72px 132px #171717, 84px 132px #222222,
    96px 132px #171717, 108px 132px #A78408, 120px 132px #FBD298,
    24px 144px #FBD298, 36px 144px #583617, 48px 144px #71451D,
    60px 144px #71451D, 72px 144px #71451D, 84px 144px #5E5650,
    96px 144px #71451D, 36px 156px #A78408, 48px 156px #A78408,
    60px 156px #A78408, 72px 156px #BF9709, 84px 156px #BF9709,
    96px 156px #BF9709, 36px 168px #583617, 96px 168px #71451D;
}

.lost .caveman.charge div {
  box-shadow:
    48px 72px #222222, 60px 72px #222222, 72px 72px #222222,
    84px 72px #222222, 96px 72px #222222, 156px 72px #747269,
    36px 84px #171717, 48px 84px #E3BE89, 60px 84px #FBD298,
    72px 84px #FBD298, 84px 84px #FBD298, 96px 84px #FBD298,
    144px 84px #747269, 36px 96px #E3BE89, 48px 96px #E3BE89,
    60px 96px #0E0C09, 72px 96px #FBD298, 84px 96px #FBD298,
    96px 96px #0E0C09, 132px 96px #747269, 36px 108px #171717,
    48px 108px #E3BE89, 60px 108px #FBD298, 72px 108px #FBD298,
    84px 108px #FBD298, 96px 108px #FBD298, 120px 108px #FBD298,
    36px 120px #171717, 48px 120px #171717, 60px 120px #222222,
    72px 120px #222222, 84px 120px #222222, 96px 120px #222222,
    108px 120px #A78408, 24px 132px #A78408, 36px 132px #A78408,
    48px 132px #171717, 60px 132px #171717, 72px 132px #171717,
    84px 132px #222222, 96px 132px #171717, 12px 144px #FBD298,
    36px 144px #583617, 48px 144px #71451D, 60px 144px #71451D,
    72px 144px #71451D, 84px 144px #5E5650, 96px 144px #71451D,
    36px 156px #A78408, 48px 156px #A78408, 60px 156px #A78408,
    72px 156px #BF9709, 84px 156px #BF9709, 96px 156px #BF9709,
    36px 168px #583617, 96px 168px #71451D;
}
