---
process: true
---
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500|Merriweather');

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #222;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: .02em;
}

/**
* Main container
**/

.container {
  width: 100%;
  max-width: 750px;
  display: inline-block;
  text-align: left;
  padding: 40px;
  box-sizing: border-box;
}

/**
* Text elements
**/

h1, h2, h3, h4 {
  margin: 20px 0 10px;
  text-align: center;
}

h1 {
  color: rgb({{ site.dark }});
}

h2 {
  font-size: 1.35em;
}

a {
  text-decoration: none;
  color: rgb({{ site.dark }});
  font-weight: 500;
}

p {
  margin: 15px 0;
  line-height: 1.75em;
}

.center-text {
  text-align: center;
}

/**
* Images
**/

.container img {
  max-width: 100%;
  margin: 20px auto;
  display: block;
}

img.large {
  width: auto;
}

img.medium {
  width: 60%;
}

img.small {
  width: 200px;
}

.background-image {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.inline-trio {
  display: table;
  width: 100%;
  border-spacing: 5px;
}

.inline-trio .default-image {
  width: 33%;
  display: table-cell;
  padding: 0 4px;
  box-sizing: border-box;
}

.grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

/**
* Header
**/

.header {
  height: 200px;
  width: 100%;
  box-shadow: 2px 1px 5px #888888;
  overflow: hidden;
  background-color: rgb({{ site.light }});
}

@media(max-width: 500px) {
  .header {
    height: 120px;
  }
}

.header .background-image {
  width: 100%;
  height: 100%;
}

/**
* Footer
**/

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.home, .post {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
}

.footer {
  height: 50px;
  display: table;
  width: 100%;
  color: #fff;
  overflow: hidden;
  background: #4c4c4c;
  text-align: center;
}

.footer-icon {
  width: 15px;
  height: 15px;
  margin: 12px 1px 0;
  background: #ededed;
  padding: 6px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: top;
}

.footer .square-image {
  display: inline-block;
  vertical-align: top;
}

.footer .square-image img,
.home-footer .square-image img {
  border-radius: 0;
  padding: 1px 1px;
  width: 13px;
  vertical-align: top;
  position: relative;
  background: none;
  display: inline-block;
  margin: 0;
}

.footer .footer-icon:hover {
  opacity: 0.8;
}

/**
* Home icon
**/

.home-icon {
  height: 34px;
  width: 34px;
  background: rgb({{ site.dark }});
  fill: #fff;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 1px 1px 5px #525151;
  z-index: 10;
}

.home-icon a {
  display: block;
  width: 50px;
  height: 50px;
  margin-left: -8px;
  margin-top: -8px;
}

.home-icon img {
  height: 22px;
  margin: 14px;
}

/**
* Home
**/

.home {
  height: 100%;
}

.home .container {
  display: block;
  margin: 40px auto;
  width: 80%;
  max-width: 980px;
  padding: 0;
}

.home h1 {
  font-size: 45px;
  line-height: 1.2em;
  color: #454545;
  margin: 0 0 0 -3px;
  text-align: left;
  font-weight: 100;
  letter-spacing: -1px;
}

.home h2 {
  text-align: left;
  font-weight: 100;
  font-size: 31px;
  margin: 0 0 25px;
  color: #444;
}

.home .about {
  color: #666;
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 22px;
}

@media(max-width: 600px) {
  .home .container {
    width: 93%;
  }

  .home h1 {
    font-size: 31px;
  }

  .home .about {
    font-size: 16px;
    line-height: 16px;
    color: #999;
    font-weight: 400;
    margin-top: 5px;
  }
}

@media(max-width: 400px) {
  .home .about {
    font-size: 13px;
    line-height: 14px;
    color: #999;
    margin-top: 3px;
  }
}

/**
* Home posts
**/

.home-posts,
.home-projects {
  text-align: left;
  display: inline-block;
  padding-top: 25px;
  width: 700px;
}

.home-post {
  width: 100%;
}

.home-post,
.home-project {
  margin-bottom: 35px;
}

.home-post .title {
  display: inline-block;
  font-size: 17px;
  line-height: 17px;
  color: #666;
  margin: 10px 0 4px;
  transition: color .2s;
}

.home-post .date {
  display: block;
  color: #999;
  font-size: 13px;
  line-height: 14px;
}

.home-post a {
  text-decoration: none;
  display: block;
  font-size: 1.2em;
  color: #555;
  font-weight: 400;
}

.home-post img,
.home-project .project-image {
  background-color: #aaa;
  border: 1px solid #757575;
  box-sizing: border-box;
}

.home-post img {
  width: 100%;
  margin: 0;
}

.home-post:hover .title {
  color: rgb({{ site.dark }});
}

@media(max-width: 874px) {
  .home-posts,
  .home-projects {
    width: 100%;
    padding-top: 15px;
  }
}

@media(min-width: 875px) {
  .home-post .title {
    max-width: 600px;
  }

  .home-post .date {
    float: right;
    margin-top: 12px;
  }
}

@media(max-width: 600px) {
  .home-post .title {
    font-size: 16px;
  }
}

/**
* Home projects
**/

.home-project {
  color: #444;
  text-align: left;
}

.home-project .project-image {
  width: 100%;
  background-position: top center;
  position: relative;
}

.home-project .project-image img {
  margin: 0;
}

.home-project .project-title {
  font-weight: 100;
  font-size: 22px;
  margin: 7px 0 0;
  color: #444;
  display: inline-block;
}

.home-project .project-tech div {
  display: inline-block;
  margin-right: 8px;
  color: #aaa;
  font-size: 14px;
}

.home-project .project-links {
  display: inline-block;
  background: rgba(0,0,0,0.65);
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1px 7px;
  width: auto;
  max-width: 110px;
  white-space: nowrap;
}

.home-project .project-links a {
  color: #fff;
}

.home-project .project-text p {
  line-height: 1.4em;
  font-weight: 100;
  margin: 0;
}

.home-project .project-categories {
  float: right;
  margin-right: -10px;
}

/**
* Home footer
**/

.home-footer {
  width: 100%;
  overflow: auto;
}

.home-footer a {
  float: left;
  margin-right: 2px;
}

.home-footer .footer-icon {
  background: #4c4c4c;
  margin-top: 0;
}

/**
* Noscript warning
**/

noscript {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  background: #d61010;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  z-index: 100;
}

/**
* Post
**/

.post {
  height: 100%;
  width: 100%;
}

.post .container {
  display: block;
  margin: 0 auto;
}

/* mobile */
@media (max-width: 520px) {
  .post .container {
    padding: 10px;
  }
}

.post .title {
  font-size: 1.8em;
  font-weight: 500;
  margin: 0;
  text-align: center;
  color: rgb({{ site.dark }});
  line-height: 1.2em;
}

.post .date {
  color: #777;
  font-size: 0.9em;
  text-align: center;
  margin-top: 4px;
}

/***
* Syntax Highlighting
***/

pre {
  margin: 0;
}

code {
  height: 100%;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

p code {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0 4px;
  margin: 0;
  line-height: inherit;
  background: #272822;
  border-radius: 3px;
  color: #eee;
}

figure.highlight {
  margin: 0;
  padding: 20px;
  border-radius: 4px;
}

/**
* Tables
**/

table {
  margin: 0 auto;
  background: #eeeeef;
}

td, th {
  padding: 7px 17px;
}

table thead,
table tr {
  background: #f5f5f5;
}

table tr:nth-child(2n) {
  background: #e4e4e4;
}

/**
* Select
**/

select {
  padding: 6px 28px 6px 6px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  background: transparent;
  background-image: url({{ site.baseurl }}/assets/images/icons/caret.png);
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: 95% 8px;
}

/**
* Inputs
**/

input[type=text] {
  line-height: normal;
  height: 20px;
  padding: 6px;
  border-radius: 4px;
  border: none;
  background: #efefef;
  margin: 5px 0;
}

textarea {
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/***
* Buttons
***/

button,
input[type=submit],
input[type=button],
input[type=reset] {
  cursor: pointer;
  padding: 7px 20px;
  background: rgb({{ site.dark }});
  color: #fff;
  border: none;
  border-radius: 4px;
  display: table;
  margin: 0 auto;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
              0 2px 2px 0 rgba(0,0,0,.14),
              0 1px 5px 0 rgba(0,0,0,.12);
}

form button {
  margin-top: 10px;
}

button:disabled,
input:disabled {
  opacity: 0.6;
}

/**
* Lists
**/

ul {
  list-style-type: none;
}

/**
* Wells
**/

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  display: table;
  margin: 0 auto;
}

/**
* Form catchall
**/

form {
  display: table;
  margin: 25px auto;
  border-radius: 4px;
}

fieldset {
  padding: 18px 20px;
  border-radius: 4px;
}

label {
  margin: 5px;
}

/**
* Click to interact
**/

.click-to-interact {
  position: relative;
  display: block;
}

.click-to-interact::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 10;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
}

.click-to-interact::after {
  content: 'Click to enter →';
  display: block;
  width: 100%;
  color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  text-align: center;
  z-index: 11;
  font-size: 24px;
  opacity: 0;
}

.click-to-interact:hover::before,
.click-to-interact:hover::after {
  opacity: 1;
}

.click-to-interact img {
  display: block;
}

/**
* Image grid
**/

.image-grid {
  width: 100%;
  margin: 20px 0;
}

.image-grid .row {
  display: table;
  width: 100%;
}

.image-grid .grid-item {
  width: 33%;
  padding-bottom: 33%;
  display: table-cell;
  overflow: auto;
  position: relative;
  z-index: -1;
}

.image-grid .grid-item .cell {
  margin: 4px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/**
* Duotone filters
**/

.duotone {
  -webkit-filter: url(#header-duotone);
  filter: url(#header-duotone);
}

.duotone-invert {
  -webkit-filter: invert(100%) url(#header-duotone);
  filter: invert(100%) url(#header-duotone);
}

.fixed-background {
  background-attachment: fixed;
}

/**
* Lightbox
**/

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.lightbox:target {
  outline: none;
  display: block;
  width: 100%;
  height: 100%;
}

/**
* Comments
**/

#disqus_thread {
  margin-top: 40px;
}

/**
* Captions
**/

.caption {
  color: #999;
  font-size: 12px;
  line-height: 16px;
  margin: 10px 60px 20px;
}

@media (max-width: 600px) {
  .caption {
    margin: 10px 10px 20px;
  }
}