.nearest-neighbors button {
  margin: 15px auto;
}

.masonry-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
  overflow: hidden;
}

.random {
  max-height: 340px;
}

.masonry-container img {
  display: flex;
  flex: 1 1 auto;
  width: 20%;
  padding: 3px;
  box-sizing: border-box;
}

.masonry-container.hidden-images img {
  display: none;
}

@media(max-width: 500px) {
  .masonry-container {
    display: block;
  }

  .masonry-container img {
    width: 33%;
    display: inline-block;
    vertical-align: top;
  }
}

.matches {
  margin-top: 15px;
  background: #efefef;
  max-height: 190px;
}

.guide {
  padding: 53px;
  text-align: center;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.clear-both {
  clear: both;
}