html {
  scroll-behavior: smooth;
}

/**
* County-Level Publication Counts
**/

#county-publications {
  text-align: center;
  overflow: auto;
}

.graticule {
  display: none;
}

path.inactive {
  opacity: 0.3;
}

/**
* Reprint Edition Sampler
**/

#reprint-sample-target {
  font-family: courier;
  line-height: 1em;
}

.sample-match-row {
  width: 600px;
  font-size: 14px;
  margin: 6px auto;
  position: relative;
}

.sample-match-row::before {
  content: '+';
  left: -15px;
  top: 3px;
  position: absolute;
  width: 13px;
}

.group-matches {
  transition: height .5s;
  height: 0px;
  overflow: hidden;
}

.sample-match-row.active .group-matches {
  height: 400px;
  overflow: auto;
}

.sample-match-teaser {
  background: #efefef;
  padding: 4px;
  max-height: 15px;
  overflow: hidden;
  cursor: pointer;
}

.sample-match {
  box-sizing: border-box;
  padding: 6px;
  white-space: nowrap;
}

span.sample-match-author {
  color: #aaa;
}

.sample-match-estc-id {
  display: inline-block;
  color: orange;
  font-weight: 600;
}

/**
* Book Pages
**/

div#book-pages {
  text-align: center;
}

div#book-pages .default-image img {
  display: inline-block;
  height: 240px;
  border: 1px solid #777;
  margin: 5px;
}

/**
* Cropped Words
**/

#cropped-words {
  line-height: 24px;
  text-align: center;
}

#cropped-words .cropped-word {
  height: 20px;
  display: inline-block;
  margin: 0 4px;
  width: 43px;
}

.city-word-col {
  max-width: 204px;
  text-align: left;
  display: inline-block;
}

.cropped-word.London {
  outline: 2px solid #ee6559;
}

.cropped-word.Edinburgh {
  outline: 2px solid #e7ba52;
}

.cropped-word.Dublin {
  outline: 2px solid #1f77b4;
}

/**
* References
**/

#references div {
  margin-bottom: 20px;
  line-height: 20px;
}