<!DOCTYPE html>
<html lang='en'>
  <head>
    {% include meta.html %}
    <title>{{ page.title | strip_html }}</title>
    <link rel='icon' href='{{ site.baseurl }}/_includes/assets/images/favicon.ico' type='image/x-icon'>
    {% capture styles %}{% include assets/css/app.css %}{% endcapture %}
    <style>{{ styles | scssify }}</style>
    {% include page-css.html %}
    <noscript>This site works best with JavaScript enabled.</noscript>
  </head>
  <body>
    <div id='content'>
      {{ content }}
    </div>
    <script>{% include assets/js/app.js %}</script>
    {% include page-js.html %}
  </body>
</html>