<!DOCTYPE html>
<html lang='en'>
  <head>
    {% include meta.html %}
    <title>{{ page.title }}</title>
    <link rel='icon' href='/assets/images/favicon.ico' type='image/x-icon'>
    <link rel='stylesheet' type='text/css' href='/assets/style.css?{{ site.time | date: "%s%N" }}'>
    {%- include page-css.html %}
  </head>
  <body>
    <div id='content'>
      {{ content }}
    </div>
  <script src='/assets/bundle.js?{{ site.time | date: "%s%N" }}' type='text/javascript'></script>
  {%- include page-js.html %}
  {% include analytics.html %}
  </body>
</html>