@font-face {
  font-family: 'Amatic SC';
  src: url('/assets/vendor/fonts/AmaticSC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/vendor/fonts/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/vendor/fonts/Merriweather-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/**
* Page elements
**/

body {
  background-color: #222;
  text-align: center;
  -webkit-font-smoothing: initial;
}

.spenserian-networks h1 {
  color: #bbd4eb;
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  margin: 100px 0 20px;
  line-height: 50px;
}

.spenserian-networks .intro-text {
  font-weight: 100;
  color: #fff;
  max-width: 560px;
  margin: 0 auto 25px;
}

.spenserian-networks .intro-text p {
  margin: 0;
  line-height: 1.4em;
}

.spenserian-networks .home-icon {
  background: #8aa3b9;
}

/**
* Header
**/

.spenserian-networks-header {
  opacity: 0;
  transition: opacity 0.5s;
  position: fixed;
  top: 0;
  right: 0;
  left: 25px;
  height: 32px;
  background: #222;
  z-index: 1;
  text-align: left;
}

.spenserian-networks-header h1 {
  display: inline-block;
  font-size: 22px;
  padding: 5px;
  line-height: 22px;
  margin: 0;
  cursor: pointer;
}

/**
* Legend
**/

#legend {
  height: 47px;
  max-width: 450px;
  display: block;
  margin: 0 auto;
}

#legend text {
  font-family: 'Montserrat';
  font-weight: 100;
  fill: #fff;
}

#legend .poet-friends {
  fill: none;
  stroke: rgba(216, 227, 236, 0.7);
}

/**
* Search
**/

.poet-networks-search-container {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  margin-top: 20px;
}

#poet-networks-input {
  border: none;
  padding: 6px 10px;
  box-sizing: border-box;
  font-size: 1em;
  border-radius: 4px;
  width: 210px;
  background: #dcdcdc;
  height: 32px;
  margin-right: 5px;
}

#poet-networks-search {
  background: #8aa3b9;
  padding: 4px 27px;
  border-radius: 4px;
  display: inline-block;
  color: #ffffff;
  vertical-align: top;
  font-family: sans-serif;
  cursor: pointer;
}

#poet-networks-typeahead {
  max-height: 120px;
  width: 323px;
  box-sizing: border-box;
  overflow: auto;
  text-align: left;
  display: none;
  float: left;
  padding: 2px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-top: 2px;
  font-family: sans-serif;
  line-height: 1.3em;
  color: #fff;
  position: absolute;
  top: 33px;
  left: 5px;
  background: #222;
  opacity: 0.9;
}

#poet-networks-typeahead div {
  cursor: pointer;
}

#poet-networks-typeahead div.active {
  color: #fff;
}

/**
* Chart
**/

#poet-networks svg {
  display: inline-block;
  background-color: #222;
  margin: 20px;
}

#poet-networks path {
  fill: none;
}

#poet-networks circle {
  cursor: pointer;
  opacity: 0.1;
}

#poet-networks .link {
  stroke: rgba(216, 227, 236, 0.3);
}

#poet-networks .visible {
  opacity: 1;
}

#poet-networks .invisible {
  opacity: 0;
}

/**
* Mobile
**/

.mobile {
  display: none;
}

@media(max-width: 600px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .spenserian-networks h1 {
    margin-top: 20px;
    font-size: 40px;
  }

  .spenserian-networks .intro-text {
    padding: 0 20px;
    margin-bottom: 15px;
    font-size: 0.7em;
    text-align: left;
  }

  #legend {
    padding: 0 20px;
    height: auto;
  }
}

@media (max-width: 350px) {
  .poet-networks-search-container {
    display: block;
    padding: 0 20px;
    margin-top: 5px;
  }

  #poet-networks-input,
  #poet-networks-search {
    display: block;
    width: 100%;
    padding: 4px 10px;
    box-sizing: border-box;
  }

  #poet-networks-search {
    margin-top: 5px;
  }
}